.button {
  background: none;
  border-radius: 4px;
  border: none;
  height: 50px;
  width: 100%;
}
.button-1 {
  background: none;
  border: none;
}
.text {
  background: none;
  border-radius: 4px;
  border: none;
  width: 100%;
}
